@import "{}/client/styles/_mixins.scss";
@import url(https://fonts.googleapis.com/css?family=Rubik:400,900);

html, body {
  padding: 0; 
  margin: 0px;
  height: 100%;
}

.wrapper {
  @include flex-box(column, nowrap);
  height: 100%;
}

.wrapper > * {
  flex: 1 100%;
}

.panel-top {
  @include flex-box(row, nowrap);
  flex: 3 auto;
}

.panel-bot {
  @include flex-box(row, nowrap);

  -webkit-justify-content: space-between;
  justify-content:         space-between;

  background-color: white;
  flex: 1 auto;
  cursor: pointer;
}

.sidepanel-left {
  padding: 15px;
  //background-color: grey;
  flex: 1 auto;
}

.sidepanel-right {
  padding: 15px;
  //background-color: grey;
  flex: 1 auto;
}

.game-board {
  @include flex-box(column, nowrap);
  flex: 4 auto;
}

.board-row {
  @include flex-box(row, nowrap);
  flex: 1 auto; 
}

.board-cell {
  @include flex-box(row, nowrap);
  flex: 1 auto;
}