@import "{}/client/styles/_mixins.scss";

.hand-card-slot {
  @include flex-box(row, nowrap);
  flex: 1 auto;
  padding: 10px;
}

.hand-card-wrapper {
  @include flex-box(row, nowrap);
  @include cast-shadow;
  @include transition(0.1s, ease);
  border: 6px solid #000;
  flex: 1 auto;
  border-radius: 15px;
}

.hand-card-wrapper:hover {
  margin-top: -20px;
  margin-bottom: 20px;
}

.hand-card {
  background-color: wheat;
  border-radius: 10px;
  flex: 1 auto;
  position: relative;

  .top-stat, .bot-stat, .right-stat, .left-stat {
    @include font-stroke;
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 25px;
  }

  .top-stat{
    top: 0;
    left: 50%;
    margin-left: -20px;
  }

  .bot-stat{
    bottom: 0;
    left: 50%; 
    margin-left: -20px;
  }

  .right-stat{
    right: 0;
    top: 50%;
    margin-top: -20px;
  }

  .left-stat{
    left: 0;
    top: 50%;
    margin-top: -20px;
  }
}

.board-card-slot {
  @include flex-box(row, nowrap);
  @include transition(0.5s, ease);
  padding: 10px;
  flex: 1 auto;
}

.board-card-wrapper {
  @include flex-box(row, nowrap);
  @include transition(0.1s, ease);
  border: 3px dashed #000;
  padding: 3px;
  flex: 1 auto;
  border-radius: 15px;
}
